<div>
    <!-- composant HEADER -->
	<div class="container my-header" id="">
        <div class="row">
            <div class="col-lg-5 col-sm-12 col-lg-offset-7 text-right">
				<a href="" ng-click="onProfil()">mon profils</a>
                <span>&NonBreakingSpace;|&NonBreakingSpace;</span>
                <a href="" ng-click="onExit()">déconnexion</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <span class="fontsize-x2 color-blueaf">MarcoPolo</span>
            </div>
        </div>
    </div>
	
	<br/>


<div class="container">

<form class="" id="my-contact-form" action="" method="post" novalidate="true" role="form">
	<div class="form-group">

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Mon MarquePage
					<span class="icon-af icon-af icon-af icon-af icon-af-C-metier-meridiens pull-right"></span>
				</h3>
			</div>

			<div class="panel-body">

				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="basic-addon1">@</span>
					<input type="text" class="form-control input-Black" placeholder="Lien" aria-describedby="basic-addon1" value={{marquepageDetailModel.lien}} required>
					
					
				</div>

				<br/>
				
				<div class="input-group input-group-mg">
					<span class="input-group-addon" id="basic-addon1">Name</span>
					<input type="text" class="form-control input-Black" placeholder="Nom" aria-describedby="basic-addon1" value="" required>
					
					
				</div>

				<br/>


				<table class="table">
					<thead>
						
						<tr>
							<th>
								<div class="input-group">
									<div class="input-group-btn btn-Gris">
										
										<button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-expanded="false" disabled>Clé
										</button>
									</div>

										<input list="choixCle" type="text" class="form-control input-Black">
											<datalist id="choixCle">
												<option data-ng-repeat="c in cles" value="{{c.cle}}"></option>
											</datalist>
										
								</div><!-- /input-group -->
							</th>

							<th>
								<div class="input-group">
									<div class="input-group-btn btn-Gris">
										<button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-expanded="false" disabled>Valeur
										</button>
									</div>

									
									<input type="text" class="form-control input-Black" placeholder="" aria-label="...">
									<!--		<input type="text" class="form-control" placeholder="Valeur" aria-label="...">  -->
								</div><!-- /input-group -->
							</th>

							<th class="last_column">
								
								<abbr title="add">
									<button type="button" class="btn btn-default btn-md"
										data-ng-click="">
										<span class="icon-af icon-af icon-af-B-digital-plus"></span>
									</button>
								</abbr>
								
							</th>
						</tr>
					</thead>

					<tbody>
						<tr data-ng-repeat="t in marquepageDetailModel.listeDesTags|filter:search|orderBy:predicate ='cle'">
							<td>{{t.cle}}</td>
							<td>{{t.valeur}}</td>
							<td class="last_column">
								<abbr title="delete">
									<button type="button" class="btn btn-default btn-md"
										data-ng-click="">
										<span class="icon-af icon-af-B-digital-cross"></span>
									</button>
								</abbr>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="text-right">
					<button type="submit" name="submit-btn" value="1" class="btn btn-primary" disabled>Annuler</button>
					<button type="submit" name="submit-btn" value="1" class="btn btn-primary" disabled>Valider</button>
				</div>

			</div><!-- panel body -->
		</div><!-- panel  -->
	</div>
</form>
	
</div>
	
</div>