<div>
    <!-- composant HEADER -->
	<div 
         class="container my-header" 
         id="">
		
        <div 
             class="row">
			
            <div 
                 class="col-lg-5 col-sm-12 col-lg-offset-7 text-right">
                <a 
                   href="" 
                   ng-click="onExit()">déconnexion
                </a>
            </div>
        </div>

        <div 
             class="row">
            <div class="col-xs-12">
                <span 
                      class="fontsize-x2 color-blueaf">MarcoPolo
                </span>
            </div>
        </div>
    </div>
	
	<br/>


    <div 
         class="container">

        <div 
             class="panel panel-info col-xs-12 panel_sans_padding">
                <div 
                     class="panel-heading">
                    <h3 
                        class="panel-title">Mon Marquepage
                    </h3>
                </div>

                <div 
                     class="panel-body">

                        <form 
                              class="" 
                              id="my-contact-form" 
                              role="form"
                              data-ng-model="marquepageDetailModel" 
                              name="marquepageDetailModelForm"                             
                              ng-submit="onValidate()"
                              novalidate>

                            <div
                                 class="form-group"
								 ng-class="{'has-success': marquepageDetailModelForm.name.$dirty && marquepageDetailModelForm.name.$valid,
			                    'has-error': marquepageDetailModelForm.name.$dirty && marquepageDetailModelForm.name.$invalid }">
                                
                                <label 
                                       for="name" 
                                       class="control-label">Nom du marquepage :
                                </label> 
                                <input 
                                       id="name" 
                                       name="name" 
                                       type="text" 
                                       required 
                                       class="form-control"
                                       ng-model="marquepageDetailModel.name"> 
                                
                                <div
									 class="help-block"
									 ng-show="marquepageDetailModelForm.name.$pristine || marquepageDetailModelForm.name.$valid">&emsp;
								</div>
									 
								
								<div 
									 class="help-block"
									 ng-show="marquepageDetailModelForm.name.$dirty"
									 ng-messages="marquepageDetailModelForm.name.$error">
								
									<div 
										ng-message="required">Champ requis
									</div> 
									
                                </div>
                                     
                            </div>
                            
                            

                            <div 
                                 class="form-group"
								 ng-class="{'has-success': marquepageDetailModelForm.lien.$dirty && marquepageDetailModelForm.lien.$valid,
			                    'has-error': marquepageDetailModelForm.lien.$dirty && marquepageDetailModelForm.lien.$invalid }">
                               
                                <label 
                                       for="lien" 
                                       class="control-label">Lien du marquepage :   

                                </label> 
                                <input 
                                       id="lien" 
                                       name="lien" 
                                       type="url"
                                       required class="form-control" 
                                       ng-model="marquepageDetailModel.lien">
								
								 <div
									 class="help-block"
									 ng-show="marquepageDetailModelForm.lien.$pristine || marquepageDetailModelForm.lien.$valid">&emsp;
								</div>
                               
								<div 
									 class="help-block"
									 ng-show="marquepageDetailModelForm.lien.$dirty"
                                     ng-messages="marquepageDetailModelForm.lien.$error">
                                    
									<div 
										 ng-message="required">Champ requis
									</div>
									
                                </div>
                                                         
                            </div>

                            <table 
                                   class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div 
                                                 class="input-group">
                                                <div 
                                                     class="input-group-btn btn-Gris">

                                                    <button 
                                                            type="button" 
                                                            class="btn btn-default dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-expanded="false" 
                                                            disabled>Clé
                                                    </button>
                                                    
                                                </div>

                                                <input 
                                                       list="choixCle" 
                                                       type="text" 
                                                       class="form-control input-Black">
                                                    
                                                <datalist 
                                                          id="choixCle">
                                                    <option 
                                                            data-ng-repeat="c in cles" 
                                                            value="{{c.cle}}">
                                                    </option>
                                                    
                                                </datalist>

                                            </div><!-- /input-group -->
                                            
                                        </th>

                                        <th>
                                            <div 
                                                 class="input-group">
                                                <div 
                                                     class="input-group-btn btn-Gris">
                                                    
                                                    <button 
                                                            type="button" 
                                                            class="btn btn-default dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-expanded="false" 
                                                            disabled>Valeur
                                                    </button>
                                                    
                                                </div>


                                                <input 
                                                       type="text" 
                                                       class="form-control input-Black" 
                                                       placeholder="" 
                                                       aria-label="...">
                                                <!--		<input type="text" class="form-control" placeholder="Valeur" aria-label="...">  -->
                                            </div><!-- /input-group -->
                                        </th>

                                        <th 
                                            class="last_column">

                                            <abbr 
                                                  title="add">
                                                
                                                <button 
                                                        type="button" 
                                                        class="btn btn-default btn-md"
                                                        data-ng-click="">
                                                
                                                    <span 
                                                          class="icon-af icon-af icon-af-B-digital-plus">
                                                    </span>
                                                
                                                </button>
                                            </abbr>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr 
                                        data-ng-repeat="t in marquepageDetailModel.listeDesTags|filter:search|orderBy:predicate ='cle'">
                                        
                                        <td>{{t.cle}}</td>
                                        <td>{{t.valeur}}</td>
                                        <td 
                                            class="last_column">
                                            
                                            <abbr 
                                                  title="delete">
                                                
                                                <button 
                                                        type="button" 
                                                        class="btn btn-default btn-md"
                                                        data-ng-click="">
                                                    
                                                    <span 
                                                          class="icon-af icon-af-B-digital-cross">
                                                    </span>
                                                    
                                                </button>
                                            </abbr>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div 
                                 class="text-right">
                                <button 
                                        type="button" 
                                        name="submit-btn" 
                                        class="btn btn-primary"
                                        ng-click="">Annuler
                                </button>
                                <button 
                                        type="button" 
                                        name="submit-btn" 
                                        class="btn btn-primary"
                                        ng-click="">Supprimer
                                </button>
                                <button 
                                        type="submit" 
                                        name="submit-btn" 
                                        class="btn btn-primary" >Modifier
                                </button>
                          
                            </div>
                    
                    </form>
           
            </div>
            
        </div>

    </div>

</div>