<div>
    <!-- composant HEADER -->
	<div class="container my-header" id="">
        <div class="row">
            <div class="col-lg-5 col-sm-12 col-lg-offset-7 text-right">
				<a href="" ng-click="onProfil()">mon profils</a>
                <span>&NonBreakingSpace;|&NonBreakingSpace;</span>
                <a href="" ng-click="onExit()">déconnexion</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <span class="fontsize-x2 color-blueaf">MarcoPolo</span>
            </div>
        </div>
    </div>
	
	<br/>

    <form class=""
          name="mqpForm"
          data-ng-model="mqpNewModel"
          id="my-contact-form"
          
          
          novalidate="true"
          role="form">
        <div class="form-group">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Mon Nouveau MarquePage
                        <span class="icon-af icon-af icon-af icon-af icon-af-C-metier-meridiens pull-right"></span>
                    </h3>
                </div>

                <div class="panel-body">

                    <div class="input-group input-group-lg"
                         ng-class="{'has-success' : mqpForm.mqpUrl.$dirty && mqpForm.mqpUrl.$valid,
                                   'has-error': mqpForm.mqpUrl.$dirty && mqpForm.mqpUrl.$invalid}" >
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input name="mqpUrl"
                               type="text"
							   ng-model="mqpNewModel.url"
                               
                               class="form-control"
                               aria-describedby="basic-addon1"
                               required>
                        <span ng-show="mqpForm.mqpUrl.$dirty"
                              ng-messages="mqpForm.mqpUrl.$error">
                            <span class="help-block"
                                  ng-message="required">
                                Ce champ est obligatoire
                            </span>
                            <span class="help-block"
                                  ng-message="url">
                                Ce champ doit être une URL
                            </span>
                        </span>
                    </div>

                    <br/>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="input-group">
                                        
										<div class="input-group-btn btn-Gris">

                                            <button type="button"
                                                    class="btn btn-default dropdown-toggle "
                                                    data-toggle="dropdown"
                                                    aria-expanded="false"
                                                    disabled>Clé
                                            </button>
                                        </div>

                                        <input type="text"
                                               ng-model="tag.cle"
                                               class="form-control"
                                               aria-label="...">
                                    </div><!-- /input-group -->
                                </th>

                                <th>
                                    <div class="input-group">
                                        <div class="input-group-btn boutonBlanc">
                                            <button type="button"
                                                    class="btn btn-default dropdown-toggle "
                                                    data-toggle="dropdown"
                                                    aria-expanded="false"
                                                    disabled>Valeur
                                            </button>
                                        </div>

                                        <input type="text"
                                               ng-model="tag.valeur"
                                               class="form-control"
                                               placeholder=""
                                               aria-label="...">
                                        <!--		<input type="text" class="form-control" placeholder="Valeur" aria-label="...">  -->
                                    </div><!-- /input-group -->
                                </th>

                                <th class="last_column">
                                    <div class="btn-group"
                                         ng-click="ajoutTag()">
                                        <label class="btn btn-info"
                                               ng-model="radioModel"
                                               btn-radio="'Left'">+</label>
                                    </div>
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>

                    <div class="text-right">
                        <button ng-disabled="mqpForm.$invalid"
                                ng-click="valider(mqpNewModel)"
                                type="button"
                                name="submit-btn"
                                
                                class="btn btn-primary">Valider</button>
                    </div>

                </div><!-- panel body -->
            </div><!-- panel  -->
        </div>
    </form>
</div>