<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Merci de vous connecter<span class="icon-af icon-af-B-digital-enveloppe pull-right"></span></h3>
    </div>
    <div class="panel-body">
        <form class="" id="my-contact-form" action="" method="post"  novalidate="true"  role="form">
            
            <div class="form-group">
                <div>
                    <label for="useremail" class="control-label">Votre email <sup class="color-red">* </sup></label>
                    <input id="useremail" name="useremail" type="email" value="" required class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <label for="userphone" class="control-label">Votre mot de passe <sup class="text-danger">* </sup></label>
                    <input id="userphone" name="userphone" type="password" value="" required class="form-control">
                </div>
            </div>
            
            </div>
            <div class="text-right">
                <button type="submit" name="submit-btn" value="1" class="btn btn-primary">Valider</button>
            </div>
        </form>
    </div><!-- panel body -->
</div><!-- panel  -->