<div ng-controller="personDetailCtrl">
    <!-- composant HEADER -->
    <div class="container my-header" id="">
        <div class="row">
            <div class="col-lg-5 col-sm-12 col-lg-offset-7 text-right">
                <a href="" ng-click="onExit()">{{'LOGOUT' | translate}}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10">
                <span class="fontsize-x2 color-blueaf">MarcoPolo</span>
            </div>
            <div class="col-xs-2 text-right">
	        	<a href="" ng-click="changeLanguage('en') ">{{'BUTTON_LANG_EN' | translate}}</a>
	            <span>&NonBreakingSpace;/&NonBreakingSpace;</span>
	            <a href="" ng-click="changeLanguage('fr')">{{'BUTTON_LANG_FR' | translate}}</a>
        	</div>     
        </div>
    </div>
	
	<br/>

    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{'PERSON_DETAIL_PROFILE' | translate}}</h3>
            </div>

            <div class="panel-body">
                <form class="" id="my-contact-form" role="form" data-ng-model="personDetailModel" name="personDetailModelForm" novalidate>

                    <div class="form-group" ng-class="{'has-success': personDetailModelForm.useremail.$dirty && personDetailModelForm.useremail.$valid,
                    'has-error': personDetailModelForm.useremail.$dirty && personDetailModelForm.useremail.$invalid}">
                            <label for="useremail" class="control-label">{{'PERSON_LOG_MAIL' | translate}}</label>
                            <input id="useremail" name="useremail" type="email" required class="form-control" ng-model="personDetailModel.mail"/>
                            <span class="help-block" ng-show="personDetailModelForm.useremail.$pristine || personDetailModelForm.useremail.$valid">&emsp;</span>
                            <span  class="help-block" ng-show="personDetailModelForm.useremail.$dirty" ng-messages="personDetailModelForm.useremail.$error">
                                    <span ng-message="required">
                                        {{'PERSON_LOG_REQUIRED' | translate}}
                                    </span>
                                    <span ng-message="email">
                                        {{'PERSON_LOG_VALID' | translate}}
                                    </span>
                            </span>     
                                              
                    </div>
                    
<!--                     <div> -->
<!-- 						<a href="" ng-click="">Modifier mon mot de passe</a><br/> -->
<!-- 						<label for="useremail">Mon mot de passe actuel :</label> -->
<!-- 						<input id="useremail" name="useremail" type="email" required class="form-control" ng-model="personDetailModel.mdp"/><br/> -->
<!-- 						<label for="useremail">Mon nouveau mot de passe :</label> -->
<!-- 						<input id="useremail" name="useremail" type="email" required class="form-control" ng-model="personDetailModel.mail"/><br/> -->
<!-- 						<label for="useremail">Confirmer le mot de passe :</label> -->
<!-- 						<input id="useremail" name="useremail" type="email" required class="form-control" ng-model="personDetailModel.mail"/> -->
<!-- 					</div> -->
						
                    <div class="text-right" >
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="onCancel(personDetailModel)">{{'CANCEL' | translate}}
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="onDelete()">{{'DELETE' | translate}}
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                ng-disabled="personDetailModelForm.$invalid"
                                ng-click="onUpdate(personDetailModel)">{{'UPDATE' | translate}}
                        </button>
                    </div>
                </form>
            </div><!-- panel body -->
        </div><!-- panel  -->
    </div>
</div>