<div class="panel panel-info" ng-controller="loginNewCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">Mise a jour du profil</h3>
    </div>

    <div class="panel-body">
        <form class="" id="my-contact-form" role="form" data-ng-model="formLoginUpdate" name="updateLoginForm" novalidate>

            <div class="form-group" ng-class="{'has-success': updateLoginForm.useremail.$dirty && updateLoginForm.useremail.$valid,
            'has-error': updateLoginForm.useremail.$dirty && updateLoginForm.useremail.$invalid}">
                <div>
                    <label for="useremail" class="control-label">Votre email</label>
                    <input id="useremail" name="useremail" type="email" required class="form-control" ng-model="formLoginUpdate.mail">
                    <span  class="help-block" ng-show="updateLoginForm.useremail.$dirty" ng-messages="updateLoginForm.useremail.$error">
							<span ng-message="required">
								Ce champ est obligatoire	
							</span>	
							<span ng-message="email">
								Merci d'indiquer une adresse e-mail valide
							</span>							
						</span><br/>					
                </div>
            </div>

            <div class="text-right" >
           		<button type="button"
                        name="submitNewMail"
                        class="btn btn-primary"
                        ng-disabled="updateLoginForm.$invalid"
                        data-ng-href="#" ng-click="modifOk()">Valider
                </button> 
            </div>
        </form>
    </div><!-- panel body -->
</div><!-- panel  -->